body {
    background-color: rgb(72, 75, 86);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, ol {
    font-family: Arial, Helvetica, sans-serif;
    color: hotpink;
    /* background-color: lavenderblush; */
}

ol {
    text-align: left;
    color: pink;
}

a:visited {
    color: rgb(229, 138, 229);
}

.row {
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    width: auto;
}

.menu {
    font-family: Arial, Helvetica, sans-serif;
    color: plum;
    flex-grow: 1;
}

.about-me {
    font-family: Arial, Helvetica, sans-serif;
    color: pink;
    text-align: center;
    flex-grow: 2;
}