<!DOCTYPE html>
<html>
    <head>
        <title>Rock Paper Scissors</title>
        <link href="../static/css/style.css" type="text/css" rel="stylesheet">
        <script src="../static/javascript/rockpaperscissors.js" defer></script>
    </head>
    <body>
        <section id="text-area" style="display: none;""><p>Game Text</p></section>
        <section id="buttons">
            <button class="player-turn" value="rock">Rock</button>
            <button class="player-turn" value="paper">Paper</button>
            <button class="player-turn" value="scissor">Scissor</button>
        </section>
        <section id="play-again" style="display: none;"><p>Play again?</p><button class="reset" onClick="window.location.reload();">Yes</button></section>
        <br><a href="/">Back</a>
    </body>
</html>