<!DOCTYPE html>
<html>
    <head>
        <title>Rock Paper Scissors</title>
        <link href="../static/css/style.css" type="text/css" rel="stylesheet">
        <script src="../static/javascript/rockpaperscissors.js" defer></script>
    </head>
    <body>
        <section id="text-area">
            <button class="player-turn" value="rock">Rock</button>
            <button class="player-turn" value="paper">Paper</button>
            <button class="player-turn" value="scissor">Scissor</button>
        </section>
        <br><a href="/">Back</a>
    </body>
</html>